<!DOCTYPE html>
<html ng-app='ecollution'>
  <head>
    <title>Ecollution live</title>
    <meta charset='utf-8'>
    <script src='http://maps.googleapis.com/maps/api/js?sensor=false&amp;language=ru'></script>
    <script src='js/angular.min.js'></script>
    <script src='js/angular-google-maps.js'></script>
    <script src='js/underscore-min.js'></script>
    <script src='js/application.js'></script>
    <link href='css/reset.css' rel='stylesheet' type='text/css'>
    <link href='css/application.css' rel='stylesheet' type='text/css'>
  </head>
  <body id='application' ng-controller='AppCtrl'>
    <div class='page-wrapper' ng-class="classUnless('no-sidebar-right', selectedStation)">
      <header class='header'>
        <div class='header-left'>
          <div class='logotype'>
            <a href='#'>
              <img alt='logotype' src='img/logotype.gif'>
            </a>
          </div>
        </div>
        <div class='header-center'>
          <div class='h-desc'>
            <p>
              Система автоматического мониторинга состояния и загрязнения окружающей среды
              <span>в on-line режиме</span>
            </p>
          </div>
          <div class='h-select'>
            <select ng-model='selectedCity' ng-options='c.name for c in cities'></select>
            <select ng-model='selectedStation' ng-options='s.name for s in cityStations(selectedCity)'></select>
          </div>
        </div>
      </header>
      <div class='content'>
        <div class='sidebar-left'>
          <nav class='s-menu'>
            <ul class='s-menu-list'>
              <li class='s-menu-list__item'>
                <a class='s-menu-list__item-link' href='#'>посты на карте</a>
                <a class='s-menu-list__item-link' href='#'>о проекте</a>
                <a class='s-menu-list__item-link' href='#'>описание веществ</a>
              </li>
            </ul>
            <div class='s-block s-post-type'>
              <ul class='s-block-list'>
                <li class='s-block-list__item s-post-type-red'>
                  Превышение ПДК
                  <span class='post-number'>12</span>
                </li>
                <li class='s-block-list__item s-post-type-blue'>
                  Водный пост
                  <span class='post-number'>31</span>
                </li>
                <li class='s-block-list__item s-post-type-green'>
                  Воздушный пост
                  <span class='post-number'>5</span>
                </li>
                <li class='s-block-list__item s-post-type-gray'>
                  Нет связи
                  <span class='post-number'>34</span>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class='main-content'>
          <google-map center='center' draggable='true' fit='true' markers='markers' zoom='zoom'></google-map>
        </div>
        <div class='sidebar-right'>
          <div class='s-address'>
            <div class='s-address-head'>
              <p>
                <span>{{selectedStationData.pid}}</span>
                , {{selectedStationData.city_name}},
                <br>
                {{selectedStationData.post_name}}
              </p>
              <div class='s-address-close' ng-click='selectedStation = null'></div>
            </div>
            <div class='s-address-body'>
              <p class='view-post' ng-switch='selectedStationData.post_type'>
                Вид поста
                <span class='view-post-type' ng-switch-when='0'>Водный</span>
                <span class='view-post-type' ng-switch-when='1'>Воздушный</span>
                <span class='view-post-type' ng-switch-when='2'>Информация устарела</span>
                <span class='view-post-type' ng-switch-when='3'>Превышение ПДК</span>
              </p>
              <div class='s-button'>
                <ul class='s-button-list'>
                  <li class='s-button-list__item s-button-list__item-active'>Измерения</li>
                  <li class='s-button-list__item'>График</li>
                  <li class='s-button-list__item'>Информация</li>
                </ul>
              </div>
              <div class='s-adress-table-wrapper'>
                <table class='s-adress-table'>
                  <tr>
                    <th>Название</th>
                    <th>Значение</th>
                    <th>Ед.изм.</th>
                    <th>ПДК</th>
                    <th>Состояние</th>
                  </tr>
                  <tr ng-repeat='substance in selectedStationData.substances'>
                    <td>{{substance.human_name}}</td>
                    <td>{{substance.value}}</td>
                    <td>{{substance.units}}</td>
                    <td>{{substance.pdk}}</td>
                    <td ng-switch='substance.state'>
                      <span class='s-adress-table-red' ng-switch-when='1'>Выше</span>
                      <span class='s-adress-table-green' ng-switch-when='0'>В норме</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class='footer'>
        <div class='copyright'>
          <p>© 2012 Экрос Инжиниринг. ingecros.ru</p>
          <p>Все права защищены</p>
        </div>
        <div class='web-development'>
          <p>
            Cделано в
            <a href='#'>redfor.ru</a>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
